button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background: #00000070;
  position: fixed;
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 999;

  &[data-state='open'] {
    animation: overlayShow 0.2s ease-in-out;
  }

  &[data-state='closed'] {
    animation: overlayHide 0.2s ease-in-out;
  }
}

.DialogContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  outline: none;

  width: 20rem;
  height: 100%;

  position: fixed;
  top: 50%;
  left: 0%;
  transform: translate(-0%, -50%);
  z-index: 999;

  background-color: #0D0D0D;
  border-left: 1px solid #1F1F1F;

  @media (max-width: 500px) {
    width: 100%;
    height: 100%;
    justify-content: start;
    border-radius: 0;
    border: none;
  }

  &[data-state='open'] {
    animation: contentShow 0.2s ease-in-out;
  }

  &[data-state='closed'] {
    animation: overlayHide 0.2s ease-in-out;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    margin-top: 1rem;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}